<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css">

    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">


    <style>
        body {
            background-color: #222529;
            font-family: Rajdhani, sans-serif;
        }

        .topbar {
            background-color: #000;
            height: 200px;
        }

        .avatar {
            width: 200px;
            height: 200px;
        }

        .card {
            background-color: #393E44;
        }

        .points-blue {
            background-color: #126B8E
        }

        .points-green {
            background-color: #9E934F
        }

        .points-red {
            background-color: #D24E00
        }

        .card-image {
            height: 200px;
        }

    </style>

</head>

<body>

<div id="content">

    <div class="row topbar">
        <div class="column">
            <img class="image ml-5" height="200px"
                 src="{{ url_for('static', filename='images/logo.jpg') }}"/>
        </div>
    </div>

    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row mt-5">

            <!-- Player of the month-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="row mt-2">
                                    <div class="col-sm">
                                        <h1 class="font-weight-bold text-uppercase mb-5 text-white">Gracz
                                            tygodnia</h1>
                                    </div>

                                    <i class="text-right fas fa-trophy fa-2x text-gray-300"></i>
                                </div>

                                <div class="text-center">

                                    <img class="avatar"
                                         src="https://imgsvc.trackercdn.com/url/size(128),fit(cover)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Fcod.tracker.gg%2Fmodern-warfare%2Fimages%2Fplayer-avatar.jpg/image.jpg">

                                    <h3 class="text-uppercase mb-1 mt-3 text-white">
                                        nazwa
                                    </h3>

                                    <div class="row mr-5 ml-5 mb-1 mt-3">
                                        <div class="col-sm">
                                            <h3 class="points-blue col-sm font-weight-bold text-white">
                                                123</h3>
                                            <h5>zabójstwa</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-red font-weight-bold text-uppercase text-white">
                                                0.9</h3>
                                            <h5>zabójstwa na grę</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-green font-weight-bold text-uppercase text-white">
                                                123789</h3>
                                            <h5>zadane obrażenia</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The best weapon-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="row mt-2">
                                    <div class="col-sm">
                                        <h1 class="font-weight-bold text-white text-uppercase mb-5 ">Najwięcej u<span
                                                style="color: #FF0000;">kar</span>ał</h1>
                                    </div>

                                    <i class="text-right fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>

                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm">
                                            <img class="img-fluid card-image"
                                                 src="{{ url_for('static', filename='images/kar.webp') }}">
                                        </div>
                                    </div>
                                    <h3 class="text-uppercase mb-1 mt-3 text-white">
                                        tuksiarz
                                    </h3>

                                    <div class="row mr-5 ml-5 mb-1 mt-3">
                                        <div class="col-sm">
                                            <h3 class="points-blue col-sm font-weight-bold text-white">
                                                123</h3>
                                            <h5>zabójstwa</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-red font-weight-bold text-uppercase text-white">
                                                0.9</h3>
                                            <h5>k/d ratio</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-green font-weight-bold text-uppercase text-white">
                                                123789</h3>
                                            <h5>headshoty</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Player of the month-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="row mt-2">
                                    <div class="col-sm">
                                        <h1 class="font-weight-bold text-uppercase mb-5 text-white">Gracz
                                            tygodnia</h1>
                                    </div>

                                    <i class="text-right fas fa-trophy fa-2x text-gray-300"></i>
                                </div>

                                <div class="text-center">

                                    <img class="avatar"
                                         src="https://imgsvc.trackercdn.com/url/size(128),fit(cover)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Fcod.tracker.gg%2Fmodern-warfare%2Fimages%2Fplayer-avatar.jpg/image.jpg">

                                    <h3 class="text-uppercase mb-1 mt-3 text-white">
                                        nazwa
                                    </h3>

                                    <div class="row mr-5 ml-5 mb-1 mt-3">
                                        <div class="col-sm">
                                            <h3 class="points-blue col-sm font-weight-bold text-white">
                                                123</h3>
                                            <h5>zabójstwa</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-red font-weight-bold text-uppercase text-white">
                                                0.9</h3>
                                            <h5>zabójstwa na grę</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-green font-weight-bold text-uppercase text-white">
                                                123789</h3>
                                            <h5>zadane obrażenia</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- The best weapon-->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-0 shadow h-100">

                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">

                                <div class="row mt-2">
                                    <div class="col-sm">
                                        <h1 class="font-weight-bold text-white text-uppercase mb-5 ">Najwięcej u<span
                                                style="color: #FF0000;">kar</span>ał</h1>
                                    </div>

                                    <i class="text-right fas fa-crosshairs fa-2x text-gray-300"></i>
                                </div>

                                <div class="text-center">
                                    <div class="row">
                                        <div class="col-sm">
                                            <img class="img-fluid card-image"
                                                 src="{{ url_for('static', filename='images/kar.webp') }}">
                                        </div>
                                    </div>
                                    <h3 class="text-uppercase mb-1 mt-3 text-white">
                                        tuksiarz
                                    </h3>

                                    <div class="row mr-5 ml-5 mb-1 mt-3">
                                        <div class="col-sm">
                                            <h3 class="points-blue col-sm font-weight-bold text-white">
                                                123</h3>
                                            <h5>zabójstwa</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-red font-weight-bold text-uppercase text-white">
                                                0.9</h3>
                                            <h5>k/d ratio</h5>
                                        </div>
                                        <div class="col-sm">
                                            <h3 class="points-green font-weight-bold text-uppercase text-white">
                                                123789</h3>
                                            <h5>headshoty</h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>

<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>