body {
    margin: 0;
    background-color: #222529;
    font-family: Rajdhani, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background-color: #393E44;
}

h3 {
    color: white;
    font-weight: 600;
}
